.tile {
  padding: 1em;
  min-width: 4em;
  min-height: 4em;
  position: relative;
}

.tile span {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  cursor: pointer;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
}
